<!-- jQuery -->
{% load static %}
<script src="{% static 'vendors/sb-admin/jquery/jquery.min.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'vendors/sb-admin/bootstrap/js/bootstrap.min.js' %}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{% static 'vendors/sb-admin/metisMenu/metisMenu.min.js' %}"></script>

<!-- Morris Charts JavaScript -->
<script src="{% static 'vendors/sb-admin/raphael/raphael.min.js' %}"></script>
<script src="{% static 'vendors/sb-admin/morrisjs/morris.min.js' %}"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static 'vendors/sb-admin/js/sb-admin-2.js' %}"></script>