<div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="/"><i class="fa fa-dashboard fa-fw"></i> Profil</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Kehadiran<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/daftar_hadir">Daftar Hadir</a>
                        </li>
                        <li>
                            <a href="/daftar_izin">Daftar Pengajuan Izin Ketidakhadiran</a>
                        </li>
                        <li>
                            <a href="/pengajuan_izin">Buat Pengajuan Izin Ketidakhadiran</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->